@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

article,
section{
	page-break-after: always;
}

abbr.name{
	white-space: nowrap;
}

[epub|type~="z3998:poem"] p,
[epub|type~="rearnotes"] p.poetry{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="rearnotes"] p + p.poetry,
[epub|type~="rearnotes"] p.poetry + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="rearnotes"] p.poetry > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="rearnotes"] p.poetry > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p.right span:first-child,
[epub|type~="rearnotes"] p.right.poetry span:first-child{
	text-align: right;
}

[epub|type~="z3998:poem"] p.center span:first-child{
	text-align: center;
}

[epub|type~="z3998:poem"] span.indent{
	margin-left: 1em;
}

[epub|type~="z3998:poem"] span > span {
	display: inline;
	margin: 0;
	padding: 0;
}

#the-love-song-of-j-alfred-prufrock p.epigraph,
#portrait-of-a-lady p.epigraph,
#gerontion p.epigraph,
#sweeney-erect p.epigraph,
#a-cooking-egg p.epigraph{
	font-style: italic;
	margin-left: 2em;
}

#burbank-with-a-baedeker-bleistein-with-a-cigar p.epigraph{
	font-style: italic;
}

#the-hippopotamus p.epigraph,
#mr-eliots-sunday-morning-service p.epigraph{
	font-style: italic;
	text-indent: 1em;
}

#la-figlia-che-piange p.epigraph{
	font-style: italic;
	text-align: center;
}

#burbank-with-a-baedeker-bleistein-with-a-cigar span.inverse-italics {
	font-style: normal;
	display: inline;
	margin: 0;
	padding: 0;
}

#portrait-of-a-lady span.byline,
#the-hippopotamus span.byline,
#the-waste-land span.byline,
#sweeney-among-the-nightingales span.byline,
#the-love-song-of-j-alfred-prufrock span.byline,
#la-figlia-che-piange span.byline,
#gerontion span.byline,
#a-cooking-egg span.byline,
#mr-eliots-sunday-morning-service span.byline{
	font-style: normal;
	font-variant: small-caps;
	text-align: right;
}

#the-waste-land p.epigraph{
	margin-left: 1em;
	margin-right: 1em;
}
#the-waste-land p.epigraph span{
	display: inline;
	text-indent: 0;
	margin: 0;
	padding: 0;
}
#the-waste-land p.dedication{
	text-align: center;
}
#the-waste-land span.right{
	text-align: right;
}
#the-waste-land span.center{
	text-align: center;
}
#the-waste-land span.smallcaps{
	font-variant: small-caps;
}
