@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

article,
section{
	break-after: page;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p.right,
[epub|type~="endnotes"] blockquote > p.right{
	display: inline-block;
	width: 100%;
}

span.right{
	text-align: right;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

[epub|type~="z3998:poem"] span > span{
	display: inline;
	margin: 0;
	padding: 0;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] i{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	margin-top: 1em;
	font-style: normal;
	font-variant: small-caps;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}
/* End all epigraphs */

/* Epigraphs in section headers */
article > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

article > header [epub|type~="epigraph"] + *{
	margin-top: 3em;
}

@supports(display: table){
	article > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* End epigraphs in section headers */

#the-waste-land [epub|type~="dedication"] p{
	text-align: center;
}

#the-waste-land span.right{
	text-align: right;
}

#the-waste-land span.center{
	text-align: center;
}

#the-waste-land header span{
	/* override poetry default style */
	display: inline;
	padding: 0;
	text-indent: 0;
}

#endnotes p[xml|lang]{
	font-style: italic;
}

#the-hollow-men [epub|type~="epigraph"] + [epub|type~="epigraph"],
#the-hollow-men [epub|type~="epigraph"] + [epub|type~="epigraph"] > p{
	display: block;
	text-align: right;
}
